<!--<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="100%" fxFlex.lt-md="100%" class="vd-flex-wrapper">-->

<footer class="vd-bgprimary-dream border-top">
  <div class="container py-3">
    <div class="fg-black">
      <small>
        <span>
          &copy; {{VDBuildVersionModel.VDCopyright}}

          <a [routerLink]='["/legal/terms"]'>
            <mat-icon class="vd-icon-balancescale">
              <fa-icon [icon]="vdFaBalanceScale" class="fa-icon-size-small-left"></fa-icon>
            </mat-icon>
            Terms
          </a>

          <mat-icon class="vd-icon-plus">
            <fa-icon [icon]="vdFaPlus" class="fa-icon-size-small"></fa-icon>
          </mat-icon>

          <a [routerLink]='["/legal/privacy"]'>Privacy
            <mat-icon class="vd-icon-usersecret">
              <fa-icon [icon]="vdFaUserSecret" class="fa-icon-size-small-right"></fa-icon>
            </mat-icon>
          </a>

        </span>
        <span>
          <mat-icon class="vd-icon-circle">
            <fa-icon [icon]="vdFaCircle" class="fa-icon-size-extra-small"></fa-icon>
          </mat-icon>
          Super-powered by
          <a href="{{VDBuildVersionModel.VDUrlLocal}}" target="_blank" rel="noreferrer">{{VDBuildVersionModel.VDDesc}}</a>
        </span>
      </small>
    </div>
  </div>
</footer>

  <!--</div>
</div>-->
