<div id="page-top" fxLayoutAlign="center" class="vd-container-header vd-bgprimary-dream px-4">
  <h2 class="vd-container-text vd-fgprimary-vision">Contact Us</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="vd-flex-wrapper">
    <div class="vd-container">

      <div class="row">
        <div class="col-md-4 text-center">
          <h4>Head Office</h4>
          <address>
            <ul class="list-unstyled">
              <li>
                <span><mat-icon><fa-icon [icon]="vdFaMapMarkerAlt"></fa-icon></mat-icon></span>
                267 West Avenue
              </li>
              <li style="padding-left:26px;">
                Centurion, 2001
              </li>
              <li style="padding-left:26px;">
                <abbr title="Phone"><strong>P:</strong></abbr> 011 350 7096
              </li>
            </ul>
          </address>
        </div>

        <hr class="clearfix w-100 d-md-none pb">

        <div class="col-md-8 text-center">
          <h4>Support &amp; Info</h4>
          <address class="text-left" style="padding-left:100px;">
            <strong>Info:</strong> <a href="mailto:info@vision-dream.local">info@vision-dream.local</a><br />
            <strong>Support:</strong> <a href="mailto:support@vision-dream.local">support@vision-dream.local</a><br />
            <strong>Admin:</strong> <a href="mailto:admin@vision-dream.local">admin@vision-dream.local</a>
          </address>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
  <fa-icon [icon]="vdFaAngleUp"></fa-icon>
</a>
