<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
      <app-nav-side (sidenavClose)="sidenav.close()"></app-nav-side>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <!--<app-header></app-header>-->
      <app-nav-main (sidenavToggle)="sidenav.toggle()"></app-nav-main>
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
