<div id="page-top" fxLayoutAlign="center" class="vd-container-header vd-bgprimary-dream px-4">
  <h2 class="vd-container-text vd-fgprimary-vision">Our Services</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="vd-flex-wrapper">
    <div class="vd-container">

      <h5 class="vd-fgprimary-dream">Software Engineering Services</h5>
      <p>
        Our software engineering services and customized development include:
      </p>
      <ol>
        <li>Websites</li>
        <li>Web-based interfaces</li>
        <li>Database-driven line-of-business systems</li>
        <li>Customized reporting</li>
      </ol>
      <p>
        This allows us to deliver high-quality systems within shorter than expected
        time-frames - translating into lower cost of development for our clients.
      </p>

    </div>
  </div>
</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
  <fa-icon [icon]="vdFaAngleUp"></fa-icon>
</a>
